
.admin {
  padding: 3rem;
  max-width: 1000px;
  margin: auto;
  font-family: system-ui, sans-serif;
}

.admin h1 {
  margin-bottom: 2rem;
}


.admin-form {
  background: #f5f5f5;
  padding: 2rem;
  border-radius: 6px;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 400px;
}

.admin-form input,
.admin-form textarea {
  padding: 0.7rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.admin-form textarea {
  resize: none;
  min-height: 80px;
}

/* BOTONES */
.admin-form button {
  padding: 0.7rem;
  border: none;
  background: black;
  color: white;
  cursor: pointer;
}

.admin-form button:hover {
  opacity: 0.9;
}

.cancel-btn {
  background: #777;
}

/* LISTA */
.product-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.product-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fafafa;
  padding: 1rem;
  border-radius: 4px;
}

.product-actions button {
  margin-left: 0.5rem;
  padding: 0.4rem 0.7rem;
  border: none;
  cursor: pointer;
}

.edit-btn {
  background: #007bff;
  color: white;
}

.delete-btn {
  background: #dc3545;
  color: white;
}


.error {
  color: red;
  margin-top: 1rem;
}

/* MODAL */
.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 2rem;
  border-radius: 6px;
  text-align: center;
}

.modal-content button {
  margin: 0.5rem;
  padding: 0.5rem 1rem;
}