.hero-carousel {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/* CAPA OSCURA LIGERA */
.hero-carousel::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5); /* opacidad acá */
  z-index: 3;
  pointer-events: none;
}

/* TODAS las imágenes superpuestas */
.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;

  opacity: 0;
  transition: opacity 2s ease-in-out;
  filter: brightness(0.9);
}

/* Imagen visible */
.slide.active {
  opacity: 1;
  z-index: 2;
}






.shop-section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 3rem;
  background-color: rgb(252, 251, 251);
  margin-top: 0; 
  width: 100vw;
}

/* Imagen principal del look */
.look-container {
  flex: 1;
  display: flex;
  justify-content: flex-start; /* la imagen se alinea a la izquierda */
  margin-left: 0; /* sin margen */
}

.look-img {
  width: 90%;
  height: auto;
  object-fit: cover;
}

/* Productos a la derecha */
.products-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  margin-top: 11rem; /* mueve hacia abajo todo el bloque */
  transform: translateX(-50px); /* mueve solo ese bloque hacia la derecha */
}

.shop-title {
  font-family: "Oswald", sans-serif;
  font-size: 2rem;
  letter-spacing: 1px;
  margin-bottom: 1.5rem;
  color: black;
}

.product-list {
  display: flex;
  gap: 0.5rem;
  
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-img {
  width: 300px;
  height: auto;
  object-fit: contain;
  box-shadow: 0 4px 11px rgba(34, 4, 207, 0.12); 
}

.look-title {
  margin-top: 0.8rem;
  font-size: 2rem;
  font-family: "Oswald", sans-serif !important; 
  list-style: none;
  font-weight: bold;
}