
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.navbar {
  position: absolute;
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  background-color: transparent;
  z-index: 9999;
  width: 100%;
}

/* --- LOGO EN EL CENTRO --- */
.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 0;
  padding: 0;
  font-size: 80%;
  font-family: "Fjalla One", sans-serif;
  margin-left: -1rem;
  
}

.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Fjalla One", sans-serif !important;
  font-size: 1.7rem;
  font-weight: bold;
  color: #ffffff;
}

.nav-icons {
  display: flex;
  list-style: none;
  gap: -1rem;
  margin-left: auto;
  margin-right: -1rem;
}

/* --- Enlaces y Elementos --- */

.nav-links li {
  margin: 0 1rem;
}

.nav-links a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  padding: 0.5rem 0;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #007bff;
}

.nav-icons li {
  margin-left: 1rem;
}

.nav-icons .icon {
  width: 23px; 
  height: 24px;
  color: #ffffff;
  transition: color 0.3s;
  
}

.nav-icons .icon:hover {
  color: #007bff;
}




.cart-icon {
  position: relative;
}

.cart-count {
  position: absolute;
  top: -6px;
  right: -8px;
  background: rgb(233, 14, 14);
  color: white;
  font-size: 0.65rem;
  padding: 2px 6px;
  border-radius: 50%;
  font-weight: 600;
}